node_modules
dist
data
logs
scripts
.git
.vscode
.vercel
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.pnpm-store
Dockerfile
Caddyfile
Makefile
docker.yaml
temp
uploads